---
title: Jason Wojciechowski
layout: layouts/home.njk
description: I am a Senior Media Fellow at the Center for Impact Communications. I write about media narratives, voting rights and history on the margins.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  Find my writings, research and links to articles and campaigns I have been involved with.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>